/* This is animation that upward on hover */

/* It's reusable i can use on whatever element i want !! */


.upwards{
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.upwards:hover {
    top: -10px;
    cursor: pointer;
}